<!DOCTYPE html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <header></header>
    <title>Optimal Control Values Finding</title>
    <!-- Css libraries -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <link href="//code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/style2.css">
</head>

<body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="../node_modules/webcola/WebCola/cola.js"></script>
    <script src="https://d3js.org/d3.v3.js"></script>
    <!-- custom js -->
    <script src="../static/js/constants.js"></script>
    

    <div id="maindiv">
        <div class="heading">
            <h3 class="center-align">MSAW ENGINE V0.1</h3>
            <h4 class="center-align">Function 3: Optimal Control Values Finding</h4>
        </div>
        <div class="container-fluid box-wrapper">
            <div class="row">
                <div class="col l9">
                    <div id="svgdiv" class="center-align">
                       <script type="text/javascript">
                        var svgwidth = $("#svgdiv").width();
                   </script>
                   <script src="../static/js/common.js"></script>
                   <script src="../static/js/f2optimal.js"></script>
                    </div>
                </div>
                <div class="col l3">
                    <div id="consolediv" class="center-align">
                        
                            <span class="button" onclick="runOptimalCVF()">
                            <p class="but">Run Optimal Control Values Finding</p>
                            </span>
                            <div id="d" class="left-align" >
                              <br>
                              <br>
                               <input id="romax" type="radio"  name="optimise" checked="checked" value="max">
                               <label  for ="romax">Maximize</label>
                               <br>
                               <input  id="romin" type="radio"  name="optimise" value="min">
                               <label for ="romin">Minimize</label>
                              <br>
                              <br>

                              <label for="displayCases">Number of cases to display:</label>
                              <input type="number" style="width: 40px;" id="displayCases" value="2">
                              <br>
                              <label for="totalCases">Number of cases to run:</label>
                              <input type="number" style="width: 40px;" id="totalCases" value="3">
                              <br>
                              <br>
                              
                           </div>
                           <div id="d2" class="clearfix centre-align" >
                              <span class="button" onclick="getPrevAnalysis()">
                               <p style=" font-size: 20px; " class="but">Get Previous Findings Data</p>
                               </span>
                               <br>
                              <div >
                                 <span class="button" style="float: left; width: 45%;" onclick="showChart()">
                                  <p style=" font-size: 18px; " class="but">Show Results</p>
                                  </span>
                                 <span class="button" style="float: right; width: 50%;" onclick="downloadAnalysis()">
                                  <p style=" font-size: 18px; " class="but">Download Results</p>
                                  </span>
                               </div>
                            </div>
                            <br>
                            <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal"></div>

      <div id="dialogMinMax" style="display:none;" ><p>How do you want to optimize this attribute?</p></div>
      <div id="dialogChart" style="display:none; height: 350px;width: 400px;">
         <div id="chart" class="aGraph" style="width:350px;height:270px;">
         
         </div>
         <form style="float: right;"><input type="number" id="ipcase"></form>
      <script
         src="../static/js/mylinegraph.js" >
      </script>
    <!-- js libraries -->
    
</body>
</html>