<html>
  <head>
    <title>MSAW_ENGINE</title>
  </head>
  <body bgcolor=white>
 <style>
         @import url(../static/css/style.css);
 </style>
    <table border="0" cellpadding="10">
      <tr>
        <td>
          <img style="width: 150px; " src="https://fucam-project.eu/sites/default/files/updated.gif">
        </td>
        <td>
          <h2>Welcome to MSAW ENGINE</h2>
        </td>
      </tr>
    </table>

    <p></p>
    
      <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <ul>
      <h3><a  href="f1reasoning.html">Function 1: Reasoning</a>
      <h3><a href="f2optimal.html">Function 2: Optimal Control Value Finding</a>
      <h3><a href="f3prediction.html">Function 3: Prediction and Alarm Analysis</a>
      <h3><a href="f4sensitivity.html">Extra Function: Sensitivity Analysis</a>
    </ul>

  </body>
</html>